$color: #eee;
body {
  background-color: $color;
  user-select: none; //禁止选中文字
}
img {
  -webkit-user-drag: none; //禁止文件拖动
}

// 首页的样式
.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
